body {
  background-color: lightcoral;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.generator {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  height: 500px;
}
.generator-h1{
  font-weight: 700;
  font-size: 40px;
  color: rgb(236, 236, 115);
}
.generator-num{
  font-size: 40px;
}
.generator button{
  width: 150px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: skyblue;
  border: solid yellow 2px;
}